{% load i18n staticfiles %}

{% autoescape off %}

<div style="font-family: Arial, Helvetica, sans-serif;">
<h2 style="color:#166584;">Votre accès à {{site_name}}</h2>

<p style="color:#166584;">
  Vous venez de créer un compte sur l'espace {{site_name}}.
</p>
 
<p style="color:#166584;">
  L’accès à <span style="color:#B43488;">votre compte</span> est protégé par un mot de passe :
  <a href="http://{{domain}}/#/mon-compte/reinitialisation-mot-de-passe-changement:{{uid}}:{{token}}">cliquez sur ce lien pour l’initialiser</a>.<br>
  Votre login de connexion est : <tt>{{ user.email }}</tt>
</p>

<p style="color:#166584;">
  A très bientôt dans votre espace,<br>
  L'équipe {{site_name}}
</p>
</div>

{% endautoescape %}
