{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h3>Mot de passe oublié ?</h3>
<p>Vous avez oublié votre mot de passe ? Entrez votre adresse email ci-dessous et nous vous enverrons par email
  les instructions pour en choisir un nouveau.
</p>

<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
  <div>
    {{ form.email.errors }}

    <div id="div_id_email" class="form-group">
      <label for="{{ form.email.id_for_label }}" class="control-label  requiredField">Email<span class="asteriskField">*</span> </label>
      <div class="controls "> <input class="textinput textInput form-control" id="{{ form.email.id_for_label }}" maxlength="254" name="{{ form.email.name }}" type="text"> </div>
    </div>
    
  </div>

  <div>
    <input type="submit" value="Envoyer">
  </div>

</form>

{% endblock %}
