{% load i18n %}
{% autoescape off %}
{% blocktrans %}
<div>
<h2>Votre accès à {{site_name}}</h2>

<p>
Une demande de changement de mot de passe a été demandée pour votre compte.</p>

<p>
Si vous êtes à l'origine de cette demande, vous pouvez suivre le lien suivant
pour établir un nouveau mot de passe :</p>

{% endblocktrans %}
{% block reset_link %}
<a href="{{ protocol }}://{{ domain }}/#/mon-compte/reinitialisation-mot-de-passe-changement:{{uid}}:{{token}}">{{ protocol }}://{{ domain }}/#/mon-compte/reinitialisation-mot-de-passe-changement:{{uid}}:{{token}}</a>
{% endblock %}
{% blocktrans %}

<p>
  A très bientôt dans votre espace,<br>
  L'équipe {{site_name}}
</p>
{% endblocktrans %}
{% endautoescape %}
